/**
 * PageFeatures Styles
 */
@import '../../styles/variables.css';

.page-features {
  &-inner {
    position: relative;
    width: 100%;
    max-width: $content-max-width;
    margin: 100px auto;
    font-size: 18px;
    color: $color-gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  &-col {
    width: 25%;
    text-align: center;
    margin: 20px;
    padding: 80px 0 0;
    background-position: 50% 0;
    background-repeat: no-repeat;

    &:first-child { background-image: url('../../assets/features-icon-1.png'); }
    &:nth-child(2) { background-image: url('../../assets/features-icon-2.png'); }
    &:last-child { background-image: url('../../assets/features-icon-3.png'); }
  }

  b {
    display: block;
    font-size: 34px;
    color: black;
    white-space: nowrap;
  }
}

/**
 * PageFeatures Mobile Styles
 */
@media (max-width: $content-mobile-width) {
  .page-features {
    &-inner {
      width: 100%;
      margin: 60px auto;
      display: block;
    }

    &-col {
      width: auto;
      margin-bottom: 100px;
    }
  }
}
