/**
 * InputPhone Styles
 */
@import '../../styles/variables.css';

.input-phone {
  max-width: 460px;
  overflow: hidden;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 15px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 35px 25px;
  }

  &-input {
    width: 100%;
    height: 52px;
    padding: 0 15px 0 48px;
    font-size: 24px;
    display: block;
    user-select: all;
    color: black;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }
  }

  &-button {
    height: 52px;
    font-size: 18px;
    padding: 0 20px;
    white-space: nowrap;
    display: block;
    color: white;
    background-color: $color-orange;
    &:hover { cursor: pointer; }
  }

  &.uk::before { background-image: url('../../assets/flag-uk.svg'); }
}

/**
 * InputPhone Mobile Styles
 */
@media (max-width: $content-mobile-width) {
  .input-phone {
    width: 100%;
    max-width: none;
    display: block;

    &-button {
      width: 100%;
    }
  }
}
