/**
 * PageMap Styles
 */
@import '../../styles/variables.css';

.page-map {
  display: block;
  height: 600px;
  background-color: $color-green;
}

/**
 * PageMap Mobile Styles
 */
@media (max-width: $content-mobile-width) {
  .page-map {
    height: 500px;
  }
}

