/**
 * PageHeader Styles
 */
@import '../../styles/variables.css';

.page-header {
  z-index: 1000;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 48px;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.15s;
  transform: translateY(-100%);

  &-inner {
    position: relative;
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    flex-flow: row nowrap;
  }

  &-logo {
    width: 190px;
    height: 48px;
    display: block;
    background: url('../../assets/logo-color.png') 50% 50% no-repeat;
    background-size: 190px 24px;
    overflow: hidden;
    text-indent: -1000px;
    margin-right: auto;
  }

  &.on {
    opacity: 1;
    transform: translateY(0);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.07);
  }
}

/**
 * PageHeader Mobile Styles
 */
@media (max-width: $content-mobile-width) {
  .page-header {
    &-inner {
      width: 100%;
      padding: 0 0 0 20px;
    }
  }
}
