/**
 * DropdownLanguages Styles
 */
@import '../../styles/variables.css';

.dropdown-languages {
  position: relative;
  height: 48px;

  &-button {
    height: 48px;
    min-width: 172px;
    padding: 0 0 0 40px;
    display: block;
    position: relative;
    line-height: 48px;
    font-size: 15px;
    text-align: left;
    white-space: nowrap;
    color: $color-gray;

    &:hover {
      cursor: pointer;
      color: black;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 12px;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 35px 25px;
    }
  }

  &-body {
    position: absolute;
    left: -12px;
    background-color: white;
    border-radius: 5px;
    padding: 8px 0;
    box-shadow: 0 10px 32px -8px rgba(0, 0, 0, 0.2);
    animation: dropdown-languages-body 0.15s both cubic-bezier(0, 0, 0.265, 1.55);
  }

  &-item {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 15px;
    padding: 10px 32px 10px 52px;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      left: 12px;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      border-radius: 12px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-size: 35px 25px;
    }
  }

  &-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .uk::before { background-image: url('../../assets/flag-uk.svg'); }
  .no::before { background-image: url('../../assets/flag-no.svg'); }
  .se::before { background-image: url('../../assets/flag-se.svg'); }
  .fi::before { background-image: url('../../assets/flag-fi.svg'); }
  .dk::before { background-image: url('../../assets/flag-dk.svg'); }
  .de::before { background-image: url('../../assets/flag-de.svg'); }
  .nl::before { background-image: url('../../assets/flag-nl.svg'); }
}

/**
 * DropdownLanguages Mobile Styles
 */
@media (max-width: $content-mobile-width) {
  .dropdown-languages {
    &-button {
      min-width: auto;
      width: 48px;
      padding: 0;
      text-indent: -1000px;

      &::before {
        left: 50%;
        margin-left: -12px;
      }
    }

    &-body {
      left: auto;
      right: 10px;
    }
  }
}

/**
 * DropdownLanguages Animation
 */
@keyframes dropdown-languages-body {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
