/**
 * PageHero Styles
 */
@import '../../styles/variables.css';

.page-hero {
  z-index: 1;
  position: relative;
  color: white;
  background-color: $color-green;
  font-size: 18px;
  overflow: hidden;
  animation: page-hero 0.9s both;

  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/bg.jpg') 50% 0 no-repeat;
    background-size: cover;
    animation: page-hero-cover 2.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &-inner {
    position: relative;
    width: 100%;
    max-width: $content-max-width;
    margin: 0 auto;
    padding: 40px 25% 60px 40px;
    animation: page-hero-inner 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &-phone {
    position: absolute;
    top: 160px;
    right: 40px;
    width: 177px;
    height: 505px;
    background: url('../../assets/phone.png') 50% 50% no-repeat;
  }

  .dropdown-languages {
    position: absolute;
    top: 20px;
    right: 40px;
    &-button { color: white; }
  }

  &-logo {
    width: 130px;
    height: 78px;
    display: block;
    background: url('../../assets/logo-white.png') 50% 50% no-repeat;
    background-size: 130px 78px;
    overflow: hidden;
    text-indent: -1000px;
  }

  h1 {
    font-size: 54px;
    font-weight: bold;
    margin: 54px 0;
  }

  p {
    margin: 0 0 18px;
  }

  ol,
  ul {
    margin: 0 18px 36px;
  }

  li {
    margin-bottom: 18px;
  }
}

/**
 * PageHero Mobile Styles
 */
@media (max-width: $content-mobile-width) {
  .page-hero {
    &-inner {
      width: 100%;
      padding: 30px 20px;
    }

    .dropdown-languages {
      right: 10px;
    }

    &-logo {
      margin: 0 auto;
    }

    &-phone {
      position: relative;
      top: auto;
      right: auto;
      margin: 40px auto;
    }

    h1 {
      font-size: 32px;
      margin: 32px 0;
      max-width: none;
      text-align: center;
    }
  }
}

/**
 * PageHero Animations
 */
@keyframes page-hero {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes page-hero-cover {
  0% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes page-hero-inner {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}
