/**
 * Shared styles and some resets
 */
@import './variables.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700');

*,
*::after,
*::before {
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  height: 100%;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
select,
button {
  border: 0;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  font-family: 'Montserrat', sans-serif;
}

